# Pandas
### Goal
- Learn basics of Pandas
- Read CSV files with Pandas
- Explore the DataFrame
- Learn about GroupBy
- Datetime and GroupBy
- How to export to Excel
- Create a chart: [Example](https://xlsxwriter.readthedocs.io/example_chart_column.html)

In [1]:
import pandas as pd

In [2]:
d = {'Cars': ['Porsche', 'Porsche', 'Ferrari', 'Ferrari'], 'Speed': [200, 215, 305, 195]}

In [3]:
d

{'Cars': ['Porsche', 'Porsche', 'Ferrari', 'Ferrari'],
 'Speed': [200, 215, 305, 195]}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

      Cars  Speed
0  Porsche    200
1  Porsche    215
2  Ferrari    305
3  Ferrari    195

In [6]:
df.mean()
df.max()
df.min()

Cars     Ferrari
Speed        195
dtype: object

In [7]:
df[df['Cars'] == 'Porsche']

      Cars  Speed
0  Porsche    200
1  Porsche    215

In [8]:
df.groupby('Cars').mean()

         Speed
Cars
Ferrari  250.0
Porsche  207.5

In [19]:
speed_check = pd.read_csv('./files/speed_check.csv', delimiter=';', parse_dates=True, index_col='Date')

In [20]:
speed_check

                Car  Speed
Date
2021-03-15  Porsche    315
2021-03-30      BMW    250
2021-04-02  Ferrari    295
2021-04-10      BMW    180
2021-04-15  Porsche    210
2021-04-20  Ferrari    230
2021-04-23      BMW    175
2021-04-30      BMW    205

In [21]:
speed_check.index

DatetimeIndex(['2021-03-15', '2021-03-30', '2021-04-02', '2021-04-10',
               '2021-04-15', '2021-04-20', '2021-04-23', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [22]:
speed_check.dtypes

Car      object
Speed     int64
dtype: object

In [23]:
speed_check.groupby('Car').mean()

         Speed
Car
BMW      202.5
Ferrari  262.5
Porsche  262.5

In [28]:
monthly = speed_check.groupby(pd.Grouper(freq='M')).mean()
monthly.index = monthly.index.month_name()
monthly

            Speed
Date
March  282.500000
April  215.833333