# Pandas
### Goal
- Learn basics of Pandas
- Read CSV files with Pandas
- Explore the DataFrame
- Learn about GroupBy
- Datetime and GroupBy
- How to export to Excel
- Create a chart: [Example](https://xlsxwriter.readthedocs.io/example_chart_column.html)

In [1]:
import pandas as pd

In [2]:
d = {'Cars': ['Porsche', 'Porsche', 'Ferrari', 'Ferrari'], 'Speed': [200, 215, 305, 195]}

In [3]:
d

{'Cars': ['Porsche', 'Porsche', 'Ferrari', 'Ferrari'],
 'Speed': [200, 215, 305, 195]}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

      Cars  Speed
0  Porsche    200
1  Porsche    215
2  Ferrari    305
3  Ferrari    195

In [8]:
df.mean()
df.max()
df.min()

Cars     Ferrari
Speed        195
dtype: object

In [11]:
df[df['Cars'] == 'Porsche']

      Cars  Speed
0  Porsche    200
1  Porsche    215

In [12]:
df.groupby('Cars')